<a href="https://colab.research.google.com/github/dhaarmaa/segundoSemestre/blob/master/guia_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ejercicio 1 parte a
a = []
for n in range(1, 6):
  a = 3*n**2+7
  print(f'a({n}) = {a}')

a(1) = 10
a(2) = 19
a(3) = 34
a(4) = 55
a(5) = 82

In [ ]:
#ejercicio 1 parte b
a = []
for n in range(16, 21):
  a = 3*n**2+7
  print(f'a({n}) = {a}')

a(15) = 682
a(16) = 775
a(17) = 874
a(18) = 979
a(19) = 1090
a(20) = 1207

In [ ]:
#ejercicio 2 parte a
#5n^^2
for n in range(1,5):
  a = 5*n**3
  print(f'a({n}) = {a}')

a(1) = 5
a(2) = 40
a(3) = 135
a(4) = 320

In [ ]:
#ejercicio 2 parte b
for n in range(9,13):
  a = 5*n**3
  print(f'a({n}) = {a}')

a(9) = 3645
a(10) = 5000
a(11) = 6655
a(12) = 8640

In [ ]:
#ejercicio  2 parte c
#preguntar a la profe

In [ ]:
#ejercicio 3 parte a
for n in range(1,21):
  k = (-1)**n
  print(f'k({n}) =  {k}')

k(1) =  -1
k(2) =  1
k(3) =  -1
k(4) =  1
k(5) =  -1
k(6) =  1
k(7) =  -1
k(8) =  1
k(9) =  -1
k(10) =  1
k(11) =  -1
k(12) =  1
k(13) =  -1
k(14) =  1
k(15) =  -1
k(16) =  1
k(17) =  -1
k(18) =  1
k(19) =  -1
k(20) =  1

In [ ]:
#ejercicio 3 parte b
# dependiendo de que si el numero levado es ar sale positivo y si es impar sale

In [ ]:
#ejercicio 3 parte c 
#for n in range(1,2021):
  #k = (-1)**n
 # print(f'k({n}) =  {k}')
  #sale positivo

In [ ]:
#Ejercicio 4 parte a
for n in range(1,101):
  a = 6*n*(-1)**n
  print(f'a({n}) = {a}')

a(1) = -6
a(2) = 12
a(3) = -18
a(4) = 24
a(5) = -30
a(6) = 36
a(7) = -42
a(8) = 48
a(9) = -54
a(10) = 60
a(11) = -66
a(12) = 72
a(13) = -78
a(14) = 84
a(15) = -90
a(16) = 96
a(17) = -102
a(18) = 108
a(19) = -114
a(20) = 120
a(21) = -126
a(22) = 132
a(23) = -138
a(24) = 144
a(25) = -150
a(26) = 156
a(27) = -162
a(28) = 168
a(29) = -174
a(30) = 180
a(31) = -186
a(32) = 192
a(33) = -198
a(34) = 204
a(35) = -210
a(36) = 216
a(37) = -222
a(38) = 228
a(39) = -234
a(40) = 240
a(41) = -246
a(42) = 252
a(43) = -258
a(44) = 264
a(45) = -270
a(46) = 276
a(47) = -282
a(48) = 288
a(49) = -294
a(50) = 300
a(51) = -306
a(52) = 312
a(53) = -318
a(54) = 324
a(55) = -330
a(56) = 336
a(57) = -342
a(58) = 348
a(59) = -354
a(60) = 360
a(61) = -366
a(62) = 372
a(63) = -378
a(64) = 384
a(65) = -390
a(66) = 396
a(67) = -402
a(68) = 408
a(69) = -414
a(70) = 420
a(71) = -426
a(72) = 432
a(73) = -438
a(74) = 444
a(75) = -450
a(76) = 456
a(77) = -462
a(78) = 468
a(79) = -474
a(80) = 480
a(81) = -486
a(82) = 492
a(83) = -498
a(84) = 504
a(85) = -510
a(86) = 516
a(87) = -522
a(88) = 528
a(89) = -534
a(90) = 540
a(91) = -546
a(92) = 552
a(93) = -558
a(94) = 564
a(95) = -570
a(96) = 576
a(97) = -582
a(98) = 588
a(99) = -594
a(100) = 600

In [ ]:
#ejercicio 4 parte b
#dependiendo del numero negativo elevado sale positivo o negativo